.modals-form {

  input, textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  &_label {
    font-size: 18px;
    margin-top: 10px;
  }
  &_checkbox {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
  }
  [type=checkbox] {
    display: inline;
    font-size: 16px;
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-right: 15px;
}

 .tags {
   display: flex;
   flex-direction: column;
   margin: 10px 0;
   &_container {
     border: 1px solid #ced4da;
     padding: .5rem;
     border-radius: 3px;
     margin-bottom: 10px;
   }
   &_item {
     background-color: rgb(218, 216, 216);
     display: inline-block;
     padding: .5rem .8rem;
     border-radius: 20px;
     align-items: center;
     font-size:14px;
     cursor: pointer;
   }
   &_close {
     margin-left: 5px;
     font-size: 18px;
     height: 20px;
     width: 20px;
     background-color: rgb(48,48,48);
     color: #fff;
     border-radius: 50%;
     display: inline-flex;
     justify-content: center;
     align-items: center;
   }
   &_stub {
     margin-bottom: 5px;
     color: red;
   }
 }
}