@import '../../style/colors.scss';
@import '../../style/fonts.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  font-family: $headers_font;
  padding: 10px;
  h1 {
    font-size: 26px;
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    ul {
      display: flex;
    }
    li {
      margin: 0 8px;
      a:hover {
          color: $focus_color;
      }
    }
  }

}


@media only screen and (max-width:300px) { 
  .header h1 {
      font-size: 20px;
  }
}
